PORT=3000
DATABASE_URL=mongodb+srv://mdDicta2023:YtTQsy7uWbkKyR7U@dicta.3pwgqtl.mongodb.net/bddictacolombia?retryWrites=true&w=majority
AZURE_BLOB_STORAGE_ENDPOINT=https://almhol.blob.core.windows.net/
AZURE_STORAGE_ACCOUNT_NAME=almhol
AZURE_STORAGE_ACCOUNT_KEY=NVGOz9qGQ99nt+saljSj7bH+7cJ6dQU5uCI82Pex6/8yWZFpS42WQNg99pWtibDAyzB7hoLXah/a+ASt14ICeg==
AZURE_BLOB_CONTAINER_NAME=vectors-graphics

CLOUDINARY_CLOUD_NAME=dsvhfmmpj
CLOUDINARY_API_KEY=471658926457716
CLOUDINARY_API_SECRET=BPBQ3Ggj5u7wWlp6_iWIZC7M-wA